<!DOCTYPE html>
<html>
<head>
<title>CSS Test Page</title>
                      <style>
                      .fancy-header {
                          color: blue;
                          text-decoration: underline;
                      }
</style>
  </head>
    <body>
    <h1 class="fancy-header">I've got style!</h1>
</body>
  </html>